.contact_section {
    max-width: 100%;
    margin: 0 auto;
    margin-left: 20px;
  }
  .contact_section h1 {
    font-size: 30px;
    font-weight: 800;
    max-width: 80%;
    
  }
  .contact_section p {
    font-weight: 500;
    font-size:medium;
    height: 100px;
    width: 600px;
  }